<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Quiz en direct</title>
</head>
<body>
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<style>



</style>
<script type="text/javascript">

</script>

<div class="container-fluid bg-info">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3> Vous êtes ? </h3>
            </div>
            <div class="modal-body">
                <div class="" id="" data-toggle="buttons">
                    <button onclick="window.location.href='/ConnexionSalonStudent';"
                            class=" btn btn-lg btn-info btn-block"><span class="btn-label"></span>
                        Un Etudiant
                    </button>
                    <div class="text-center"><label class="btn-lg btn-block"> OU </label></div>
                    <button onclick="window.location.href='/connection';"
                            class=" btn btn-lg btn-block btn-warning"><span class="btn-label"></span>
                        Un Enseignant
                    </button>

                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
